@using Identity.ViewModels.Account
@model AccountForgetPasswordVM

@{
    Layout = "_Layout";
}

<form method="post" asp-action="forgetpassword" asp-controller="account" class="login100-form validate-form">
    <span class="login100-form-title">
        Forget Password?
    </span>

    <div asp-validation-summary="All"></div>

    <div class="wrap-input100 validate-input">
        <input asp-for="Email" class="Input100" placeholder="Email">
        <span asp-validation-for="Email"></span>
        <span class="focus-input100"></span>
    </div>


    <div class="container-login100-form-btn">
        <button class="login100-form-btn">
            Send
        </button>
    </div>

    <div class="text-center p-t-136">
        <a asp-action="register" asp-controller="account" class="txt2">
            Register
            <i class="fa fa-long-arrow-right m-1-5" aria-hidden="true"></i>
        </a>
    </div>
</form>