@using Identity.ViewModels.Account
@model AccountLoginVM

@{
    Layout = "_Layout";
    var returnUrl = Context.Request.Query["returnUrl"];
}

<form method="post" asp-action="Login" asp-controller="Account" class="login100-form validate-form">
    <span class="login100-form-title">
        Login
    </span>

    <input type="hidden" value="@returnUrl" asp-for="ReturnUrl" />

    <div asp-validation-summary="All" class="text-danger"></div>

    <div class="wrap-input100 validate-input">
        <input asp-for="Email" class="input100" placeholder="Email">
        <span asp-validation-for="Email"></span>
        <span class="focus-input100"></span>
    </div>

    <div class="wrap-input100 validate-input">
        <input asp-for="Password" class="input100" placeholder="Password">
        <span asp-validation-for="Password"></span>
        <span class="focus-input100"></span>
    </div>

    <div class="d-flex mb-3 align-items-center">
        <label class="control control--checkbox mb-0">
            <span class="caption">Remember me</span>
            <input type="checkbox" checked="checked" />
            <div class="control__indicator"></div>
        </label>
        <span class="ml-auto">
            <a asp-action="ForgetPassword" asp-controller="Account" class="txt2">Forgot Password?</a>
        </span>
    </div>

    <div class="container-login100-form-btn">
        <button class="login100-form-btn">
            Login
        </button>
    </div>

    <div class="text-center p-t-12">
        <a asp-controller="Account" asp-action="Register" class="txt2">
            Don't you have an account? Register
        </a>
    </div>
</form>
