@using Identity.ViewModels.Account
@model AccountResetPasswordVM

@{
    Layout = "_Layout";
    var email = Context.Request.Query["email"];
    var token = Context.Request.Query["token"];
}

<form method="post" asp-action="ResetPassword" asp-controller="Account" class="login100-form validate-form">
    <span class="login100-form-title">
        Reset Password
    </span>

    <input type="hidden" name="Email" value="@email" asp-for="Email" />
    <input type="hidden" name="Token" value="@token" asp-for="Token" />

    <div asp-validation-summary="All" class="text-danger"></div>

    <div class="wrap-input100 validate-input">
        <input asp-for="NewPassword" class="input100" placeholder="Password">
        <span asp-validation-for="NewPassword" class="text-danger"></span>
        <span class="focus-input100"></span>
    </div>

    <div class="wrap-input100 validate-input">
        <input asp-for="ConfirmNewPassword" class="input100" placeholder="Confirm Password">
        <span asp-validation-for="ConfirmNewPassword" class="text-danger"></span>
        <span class="focus-input100"></span>
    </div>

    <div class="container-login100-form-btn">
        <button type="submit" class="login100-form-btn">
            Reset Password
        </button>
    </div>
</form>
