@using Identity.ViewModels.Account
@model AccountResetPasswordVM

@{
    Layout = "_Layout";
}

<form method="post" asp-action="resetpassword" asp-controller="account" class="login100-form validate-form">
    <span class="login100-form-title">
        Reset Password
    </span>

    <div asp-validation-summary="All"></div>
    <input type="hidden" asp-for="Email" />
    <input type="hidden" asp-for="Token" />

    <div class="wrap-input100 validate-input">
        <input asp-for="Password" class="Input100" placeholder="Password">
        <span asp-validation-for="Password"></span>
        <span class="focus-input100"></span>
    </div>

    <div class="wrap-input100 validate-input">
        <input asp-for="ConfirmPassword" class="Input100" placeholder="ConfirmPassword">
        <span asp-validation-for="ConfirmPassword"></span>
        <span class="focus-input100"></span>
    </div>

    <div class="container-login100-form-btn">
        <button class="login100-form-btn">
            Confirm
        </button>
    </div>

    <div class="text-center p-t-136">
        <a asp-action="login" asp-controller="account" class="txt2">
            Login
            <i class="fa fa-long-arrow-right m-1-5" aria-hidden="true"></i>
        </a>
    </div>
</form>